<body>
  <div class="col-lg-12 login-bg">
    <div class="col-lg-4 login">
      <h1>Welcome To Angular</h1>
      <md-card>
        <form>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="User Name">
          </md-input-container>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Password">
          </md-input-container>
          <div class="button-row">
            <button md-raised-button>Login </button>
            <button md-raised-button>Sign Up </button>
          </div>
        </form>
      </md-card>
    </div>
  </div>
</body>
